:root {
  --header-height: 6rem;
  /* =====================Colors======================= */
  /* ====Change favorite color===== */
  --hue-color: 147; /*Purple:250 - Green:142 - Blue:230 - Pink:340*/

  --first-color: hsl(var(--hue-color), 85%, 22%);
  --first-color-secondary: hsl(147, 76%, 30%);
  --first-color-alt: ;
  --first-color-lighter: ;
  --title-color: ;
	--black:hsl(var(--hue-color),10%,5%);
  --white: hsl(161, 29%, 89%);
  --text-color: ;
  --text-color-light: ;
  --input-color: ;
  --body-color: ;
  --container-color: ;

  /* ============Font and Typografy============= */
  --text-font: "Roboto", serif;
  --title-font: "Montserrat", sans-serif;

  --big-font-size: 7rem;
  --h1-font-size: 5rem;
  --h2-font-size: 4rem;
  --h3-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --normal-font-size: 1.7rem;
  --small-font-size: ;
  --smaller-font-size: ;

  /* ============Font weigth============= */
  --font-medium: ;
  --font-semi-bold: ;

  /* =========Font size for large devices========= */

  @media screen and (min-width: 968px) {
    :root {
      --big-font-size: 10rem;
      --h1-font-size: 7rem;
      --h2-font-size: 6rem;
      --h3-font-size: 5rem;
  --h4-font-size: 3.5rem;
      --normal-font-size: 2rem;
      --small-font-size: ;
      --smaller-font-size: ;
    }
  }
}
/* =========Variables Dark Mode========= */
/* =========Button Dark/Linght========= */

/* =========BASE========= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}
h1{
	font-size: var(--h1-font-size);
	margin-top: 3rem;
	font-weight: 500;
}
h2{
	font-size: var(--h2-font-size);
	font-weight: 300;
	margin-top: 1rem;
}
h3{
	font-weight: 400;
	font-size: var(--h3-font-size);
}
h4{
	font-size: var(--h4-font-size);
	color: var(--black);
}
p{
	font-size: var(--normal-font-size);
	font-family: var(--text-font);
	line-height: 4rem;
}
ul {
  list-style: none;
  color: var(--text-color);
}
li{
	color: var(--white);
}
a{
  text-decoration: none;
}
header a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--text-font);
}

header {
  height: var(--header-height);
  background-color: var(--first-color);
  padding-top: 1rem;
	margin-bottom: 3rem;
	position: fixed;
  top: 0px;
  width: 100%;
}
nav {
  display: flex;
  margin: 0 10% 0 10%;
}
figcaption{
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
}
/* =========Header========= */

.nav__logo {
  font-size: var(--h3-font-size);
}
/*==Menu Open==*/
.nav__menu {
  background-color: var(--first-color);
  height: 200px;
  width: 50%;
  position: fixed; /*Ojo Aqui*/
  right: -50%;
  top: var(--header-height);
  border-radius: 0 0 0 15px;
  z-index: 1;
  transition: 0.5s;
}

.show {
  right: 0vw;
}

.nav__list li {
  font-size: var(--normal-font-size);
  margin: 3rem 1rem 3rem 1.5rem;
}
.nav__open {
  font-size: var(--h3-font-size);
  color: var(--white);
  position: absolute;
  right: 2rem;
}

/* =========Main========= */
.section{
	margin-top: 5rem;
}
/* =========Home========= */
.home {
  display: flex;
  align-items: center;
  padding-top: 5rem;
	flex-direction: column;
	text-align: center;
}

.home__profile-img img {
  background-color: var(--first-color-secondary);
  border-radius: 39% 61% 36% 64% / 47% 61% 39% 53%; /*https://9elements.github.io/fancy-border-radius/ */
  width: 250px;
  height: 250px;
  /* box-shadow: 3px 3px 3px 3px rgba(115, 117, 109, 0.363); */
}

.home__description{
	margin: 4rem auto;
}

/* =========Skills========= */
.skills{
	display: flex;
	flex-direction: column;
	align-items: center;

}
.title{
	text-align: center;
	margin-top: 8rem;
	padding-bottom: 8rem;
	text-decoration: underline;
	text-decoration-color: var(--first-color-secondary);
}
.skills__container{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.skills__logo {
	height: 14rem;
	width: 30%;
	min-width: 14rem;
	text-align: center;
}

.skills__logo img{
	height: 6rem;
	width: 6rem;
}
@media screen and (min-width: 768px){
.skills__logo img{
	height: 8rem;
	width: 8rem;
}
}
/* =========Projects========= */
.project__title a{
	color: var(--black);
}
.project__image1{
	background-image: url("../assets/Web\ capture_13-8-2021_162043_stefansan26.github.io.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 32rem;
	width: 32rem;
}

/* =========Contact========= */
