:root {
  --header-height: 5rem;
  /* =====================Colors======================= */
  --hue-color: 230; /*Purple:250 - Green:142 - Blue:230 - Pink:340*/

  --first-color: hsl(var(--hue-color), 60%, 55%);
  --first-color-secondary: hsl(250, 100%, 94%);
  --contrast-color: #ff4081;
  --black: hsl(var(--hue-color), 10%, 5%);
  --white: hsl(161, 29%, 89%);
  --white-hover: hsl(232, 55%, 83%);

  /* ============Font and Typografy============= */
  --title-font: 'Sanchez',sans-serif;
  --text-font:  'Quicksand', sans-serif;
  --system-font: -apple-system, linkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

  --big-font-size: 7rem;
  --h1-font-size: 5rem;
  --h2-font-size: 4rem;
  --h3-font-size: 3rem;
  --h4-font-size: 2.5rem;
  --normal-font-size: 1.6rem;


  /* =========Font size for large devices========= */

  @media screen and (min-width: 768px) {
    :root {
      --big-font-size: 10rem;
      --h1-font-size: 7rem;
      --h2-font-size: 6rem;
      --h3-font-size: 5rem;
      --h4-font-size: 3.5rem;
      --normal-font-size: 1.8rem;
    }
  }
}


/* =========BASE========= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: var(--white);
}

h2,
h3,
h4 {
  font-family: var(--text-font);
}
h1 {
  font-family: var(--title-font);
  font-size: var(--h1-font-size);
  margin-top: 3rem;
  font-weight: 500;
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: 300;
  margin-top: 1rem;
}
h3 {
  font-weight: 400;
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--h4-font-size);
  color: var(--black);
}
p {
  font-size: var(--normal-font-size);
  font-family: var(--text-font);
  line-height: 4rem;
}
ul {
  list-style: none;
  color: var(--text-color);
}
li {
  color: var(--white);
}
a {
  text-decoration: none;
}
header a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--text-font);
}

header {
  height: var(--header-height);
  background-color: var(--first-color);
  margin-bottom: 3rem;
  position: fixed;
  top: 0px;
  width: 100%;
}
nav {
  display: flex;
  margin: 0 10%;
  align-items: center;
  height: 100%;
}
figcaption {
  font-family: var(--text-font);
  font-size: var(--normal-font-size);
  padding-top: 1rem;
}
/* =========Header========= */

.nav__logo h3 {
  font-size: var(--h3-font-size);
  font-weight: 500;
	font-family: var(--title-font);
}
/*==Menu Open==*/

.nav__menu {
  background-color: var(--first-color);
  height: 200px;
  width: 50%;
  position: fixed; /*-*/
  right: -50%;
  top: var(--header-height);
  border-radius: 0 0 0 15px;
  z-index: 1;
}

.show {
  right: 0vw;
}

.nav__list li {
  font-size: var(--normal-font-size);
  margin: 3rem 1rem 3rem 1.5rem;
}
.nav__open {
  font-size: var(--h3-font-size);
  color: var(--white);
  position: absolute;
	top: 1rem;
  right: 2rem;
  display: inline-block;
}
.nav__link{
	font-weight: 500;
}
.nav__link:hover, .bx:hover{
	color: var(--white-hover);
}
@media screen and (min-width: 768px) {
  .nav__menu {
    height: var(--header-height);
    width: 100%;
    position: static;
    margin-left: 40%;
		transition: 0s;
  }
  .nav__list {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-content: center;
    font-size: 2rem;
    align-items: center;
  }
  .nav__open {
    display: none;
  }
	.uil{
		display: none;
	}
}
/* =========Main========= */
.section {
  margin-top: 5rem;
}
/* =========Home========= */
.home {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  flex-direction: column;
  text-align: center;
}

.home__profile-img img {
  background-color: var(--first-color);
  border-radius: 39% 61% 36% 64% / 47% 61% 39% 53%; /*https://9elements.github.io/fancy-border-radius/ */
  width: 250px;
  height: 250px;
}

.home__description {
  margin: 4rem auto;
}

/* =========Skills========= */
.title {
  text-align: center;
  margin-top: 8rem;
  padding-bottom: 8rem;
  text-decoration: underline;
  text-decoration-color: var(--contrast-color);
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--first-color);
  color: var(--white);
  padding-bottom: 8rem;
}
.skills__title {
  text-decoration-color: var(--contrast-color);
}

.skills__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills__logo {
  height: 14rem;
  width: 30%;
  min-width: 14rem;
  text-align: center;
}

.skills__logo img {
  height: 6rem;
  width: 6rem;
}
@media screen and (min-width: 768px) {
  .skills__logo img {
    height: 8rem;
    width: 8rem;
  }
}
/* =========Projects========= */

.project {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem;
  justify-content: space-evenly;
  align-items: center;
}

.project__text {
  max-width: 35rem;
  text-align: center;
  margin-bottom: 2rem;
}
.project__title {
  margin-bottom: 2rem;
}
.project__title a {
  color: rgb(37, 8, 49);
}

.project__image {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: top;
	height: 40rem;
  width: 40rem;
  border-radius: 5px;
}
@media screen and (max-width: 425px) {
  .project__image{
		height: 30rem;
		width: 30rem;
	}
}

.project__image1 {
  background-image: url("./assets/images/batatabit_desktop.jpeg");
}
.project__image2 {
  background-image: url("./assets/images/pricing-calculator_desktop2.jpeg");
}
.project__image3 {
  background-image: url("./assets/images/SpaceX-Rockets.jpeg");
}

@media screen and  (min-width: 768px){
	.project2{
		flex-direction: row-reverse;
	}
}
/* =========Contact========= */
.contact {
  margin: 10rem;
  display: flex;
}

.contact-link {
  margin: 0 auto;
  text-align: center;
}
.contact-btn {
  background-color: var(--first-color);
  color: var(--white);
  border-radius: 10px;
  height: 6rem;
  width: 14rem;
  border: none;
  cursor: pointer;
  font-size: var(--h4-font-size);
}
/* Grow */
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	transform: scale(1.1);
}

/* =========Footer========= */

.footer {
  background-color: var(--first-color);
  display: flex;
  height: 10rem;
  justify-content: space-around;
  align-items: center;
}
.footer__title {
  color: var(--white);
  font-size: var(--h4-font-size);
}
.footer p {
  color: var(--white);
}
.footer__icon{
	margin: 1rem;
}
.bx{
	font-size: 3rem;
	color: var(--white);
}
